.thermofisher-scientific-corporate-landing-page-c-3,
.thermofisher-scientific-corporate-landing-page-c-3 * {
  box-sizing: border-box;
}
.thermofisher-scientific-corporate-landing-page-c-3 {
  background: #ffffff;
  width: 1440px;
  height: 6909px;
  position: relative;
  overflow: hidden;
}
.rectangle-19921 {
  background: #00081b;
  width: 1535px;
  height: 127px;
  position: absolute;
  left: -81px;
  top: 722px;
}
.our-stories {
  width: 1440px;
  height: 408px;
  position: absolute;
  left: 0px;
  top: 800px;
}
.rectangle-19901 {
  background: #00081b;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.delivering-covid-19-solutions-when-the-world-needed-it-most {
  color: var(--primary-white, #ffffff);
  text-align: left;
  font: var(--h-4-medium, 500 20px/28px "HelveticaNeue-Medium", sans-serif);
  position: absolute;
  right: 69.44%;
  left: 6.94%;
  width: 23.61%;
  bottom: 53.43%;
  top: 32.84%;
  height: 13.73%;
}
.frame-79 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 6.94%;
  left: 55.28%;
  width: 37.78%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-792 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-19815 {
  flex-shrink: 0;
  width: 544px;
  height: 408px;
  position: relative;
}
.our-stories2 {
  color: var(--primary-white, #ffffff);
  text-align: left;
  font: 400 18px/22px "HelveticaNeueLtW1G-75Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 83.26%;
  left: 6.94%;
  width: 9.79%;
  bottom: 78.92%;
  top: 15.69%;
  height: 5.39%;
}
.our-mission-is-to-enable-our-customers-to-make-the-world-healthier-cleaner-and-safer {
  color: var(--primary-white, #ffffff);
  text-align: left;
  font: var(--h-5-regular, 400 16px/24px "HelveticaNeue-Regular", sans-serif);
  opacity: 0.5;
  position: absolute;
  right: 71.53%;
  left: 6.94%;
  width: 21.53%;
  bottom: 35.78%;
  top: 52.45%;
  height: 11.76%;
}
.group-22 {
  border-radius: 4px;
  position: absolute;
  right: 85.56%;
  left: 6.94%;
  width: 7.5%;
  bottom: 19.61%;
  top: 70.1%;
  height: 10.29%;
}
.rectangle-19812 {
  background: #00081b;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.rectangle-19813 {
  background: var(--primary-primary, #e71316);
  width: 2px;
  position: absolute;
  left: 0px;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.read-more {
  color: var(--primary-primary, #e71316);
  text-align: left;
  font: var(--body-medium, 500 14px/22px "HelveticaNeue-Medium", sans-serif);
  position: absolute;
  left: 18px;
  bottom: 23.81%;
  top: 23.81%;
  height: 52.38%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-29 {
  position: absolute;
  inset: 0;
}
.group-27 {
  width: 54px;
  height: 6px;
  position: static;
}
.rectangle-198152 {
  background: var(--primary-primary, #e71316);
  position: absolute;
  right: 50%;
  left: 48.75%;
  width: 1.25%;
  bottom: 80.88%;
  top: 17.65%;
  height: 1.47%;
}
.rectangle-19816 {
  background: var(--primary-white, #ffffff);
  position: absolute;
  right: 49.17%;
  left: 50.42%;
  width: 0.42%;
  bottom: 80.88%;
  top: 17.65%;
  height: 1.47%;
}
.rectangle-19817 {
  background: var(--primary-white, #ffffff);
  position: absolute;
  right: 48.33%;
  left: 51.25%;
  width: 0.42%;
  bottom: 80.88%;
  top: 17.65%;
  height: 1.47%;
}
.rectangle-19818 {
  background: var(--primary-white, #ffffff);
  position: absolute;
  right: 47.5%;
  left: 52.08%;
  width: 0.42%;
  bottom: 80.88%;
  top: 17.65%;
  height: 1.47%;
}
.investort-relations {
  width: 1440px;
  height: 1002px;
  position: absolute;
  left: 0px;
  top: 3473px;
}
.rectangle-19906 {
  background: var(--nuetral-8, #ebebec);
  opacity: 0.4000000059604645;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0.6%;
  top: 69.66%;
  height: 29.74%;
}
.investor-relations {
  color: var(--accent-teal, #00677f);
  text-align: left;
  font: 400 18px/22px "HelveticaNeueLtW1G-75Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 77.22%;
  left: 6.94%;
  width: 15.83%;
  bottom: 97.8%;
  top: 0%;
  height: 2.2%;
}
.group-122 {
  position: absolute;
  inset: 0;
}
.healthier-cleaner-safer-the-world-leader-in-serving-science {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: 400 48px "-", sans-serif;
  position: absolute;
  right: 40.62%;
  left: 6.94%;
  width: 52.43%;
  bottom: 81.44%;
  top: 6.99%;
  height: 11.58%;
}
.healthier-cleaner-safer-the-world-leader-in-serving-science-span {
  color: var(--nuetral-text, #222222);
  font: 400 48px "HelveticaNeueLtW1G-75Bold", sans-serif;
}
.healthier-cleaner-safer-the-world-leader-in-serving-science-span2 {
  color: var(--nuetral-text, #222222);
  font: 400 48px "HelveticaNeueLtW1G-55Roman", sans-serif;
}
.group-155 {
  position: absolute;
  inset: 0;
}
.group-119 {
  width: 544px;
  height: 312px;
  position: static;
}
.group-116 {
  width: 544px;
  height: 246px;
  position: static;
}
.frame-155 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 55.14%;
  left: 7.08%;
  width: 37.78%;
  bottom: 48.9%;
  top: 34.13%;
  height: 16.97%;
}
.group-113 {
  flex-shrink: 0;
  width: 544px;
  height: 40px;
  position: static;
}
.first-quarter-revenue-was {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-4-regular, 400 20px/30px "HelveticaNeue-Regular", sans-serif);
  position: absolute;
  right: 58.27%;
  left: 0%;
  width: 41.73%;
  bottom: 79.41%;
  top: 2.94%;
  height: 17.65%;
}
._11-82-bn {
  color: var(--nuetral-text, #222222);
  text-align: right;
  position: absolute;
  right: 0%;
  left: 78.31%;
  width: 21.69%;
  bottom: 76.47%;
  top: 0%;
  height: 23.53%;
}
._11-82-bn-span {
  color: var(--nuetral-text, #222222);
  font: var(--h-4-medium, 500 20px/28px "HelveticaNeue-Medium", sans-serif);
}
._11-82-bn-span2 {
  color: var(--nuetral-text, #222222);
  font: var(--h-2-medium, 500 30px/40px "HelveticaNeue-Medium", sans-serif);
}
._11-82-bn-span3 {
  color: var(--nuetral-text, #222222);
  font: var(--h-4-medium, 500 20px/28px "HelveticaNeue-Medium", sans-serif);
}
.rectangle-19814 {
  background: var(--nuetral-24, #c9cacc);
  opacity: 0.4000000059604645;
  flex-shrink: 0;
  width: 544px;
  height: 1px;
  position: relative;
}
.group-112 {
  flex-shrink: 0;
  width: 544px;
  height: 32px;
  position: static;
}
.gaap-diluted-earnings-per-share-eps {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-4-regular, 400 20px/30px "HelveticaNeue-Regular", sans-serif);
  position: absolute;
  right: 36.4%;
  left: 0%;
  width: 63.6%;
  bottom: 38.82%;
  top: 43.53%;
  height: 17.65%;
}
._5-6 {
  color: var(--nuetral-text, #222222);
  text-align: right;
  position: absolute;
  right: 0%;
  left: 90.26%;
  width: 9.74%;
  bottom: 38.24%;
  top: 42.94%;
  height: 18.82%;
}
._5-6-span {
  color: var(--nuetral-text, #222222);
  font: var(--h-4-medium, 500 20px/28px "HelveticaNeue-Medium", sans-serif);
}
._5-6-span2 {
  color: var(--nuetral-text, #222222);
  font: 500 30px/32px "HelveticaNeue-Medium", sans-serif;
}
.rectangle-198153 {
  background: var(--nuetral-24, #c9cacc);
  opacity: 0.4000000059604645;
  flex-shrink: 0;
  width: 544px;
  height: 1px;
  position: relative;
}
.group-111 {
  flex-shrink: 0;
  width: 544px;
  height: 32px;
  position: static;
}
.adjusted-eps {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-4-regular, 400 20px/30px "HelveticaNeue-Regular", sans-serif);
  position: absolute;
  right: 77.21%;
  left: 0%;
  width: 22.79%;
  bottom: 0.59%;
  top: 81.76%;
  height: 17.65%;
}
._7-25 {
  color: var(--nuetral-text, #222222);
  text-align: right;
  position: absolute;
  right: 0%;
  left: 87.13%;
  width: 12.87%;
  bottom: 0%;
  top: 81.18%;
  height: 18.82%;
}
._7-25-span {
  color: var(--nuetral-text, #222222);
  font: var(--h-4-medium, 500 20px/28px "HelveticaNeue-Medium", sans-serif);
}
._7-25-span2 {
  color: var(--nuetral-text, #222222);
  font: 500 30px/32px "HelveticaNeue-Medium", sans-serif;
}
.q-1-highlights {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-4-medium, 500 20px/28px "HelveticaNeue-Medium", sans-serif);
  position: absolute;
  right: 84.24%;
  left: 7.08%;
  width: 8.68%;
  bottom: 70.66%;
  top: 26.55%;
  height: 2.79%;
}
.group-222 {
  border-radius: 4px;
  position: absolute;
  right: 81.18%;
  left: 7.08%;
  width: 11.74%;
  bottom: 42.32%;
  top: 53.49%;
  height: 4.19%;
}
.rectangle-198122 {
  background: var(--primary-white, #ffffff);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.group-126 {
  width: 544px;
  height: 382px;
  position: static;
}
.group-120 {
  width: 151px;
  height: 28px;
  position: static;
}
.annual-revenue {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-4-medium, 500 20px/28px "HelveticaNeue-Medium", sans-serif);
  position: absolute;
  right: 34.24%;
  left: 55.28%;
  width: 10.49%;
  bottom: 70.66%;
  top: 26.55%;
  height: 2.79%;
}
.frame-1552 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 6.94%;
  left: 55.28%;
  width: 37.78%;
  bottom: 35.33%;
  top: 34.13%;
  height: 30.54%;
}
._44-92-bn {
  color: var(--nuetral-text, #222222);
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._44-92-bn-span {
  color: var(--nuetral-text, #222222);
  font: var(--h-1-medium, 500 38px/46px "HelveticaNeue-Medium", sans-serif);
}
._44-92-bn-span2 {
  color: var(--nuetral-text, #222222);
  font: 400 70px/66px "HelveticaNeueLtW1G-75Bold", sans-serif;
}
._44-92-bn-span3 {
  color: var(--nuetral-text, #222222);
  font: 400 80px "HelveticaNeueLtW1G-75Bold", sans-serif;
}
._44-92-bn-span4 {
  color: var(--nuetral-text, #222222);
  font: var(--h-1-medium, 500 38px/46px "HelveticaNeue-Medium", sans-serif);
}
.thermo-fisher-scientific-inc-is-the-world-leader-in-serving-science-with-annual-revenue-over-40-billion-our-mission-is-to-enable-our-customers-to-make-the-world-healthier-cleaner-and-safer {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-4-regular, 400 20px/30px "HelveticaNeue-Regular", sans-serif);
  position: relative;
  width: 544px;
}
.group-223 {
  border-radius: 4px;
  flex-shrink: 0;
  width: 196px;
  height: 42px;
  position: relative;
}
.group-121 {
  position: absolute;
  inset: 0;
}
.group-157 {
  width: 1238px;
  height: 250px;
  position: static;
}
.stock-price {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-4-medium, 500 20px/28px "HelveticaNeue-Medium", sans-serif);
  position: absolute;
  right: 85.49%;
  left: 7.08%;
  width: 7.43%;
  bottom: 25.15%;
  top: 72.06%;
  height: 2.79%;
}
.frame-119 {
  background: var(--accent-orange, #ea7600);
  border-radius: 2px;
  padding: 4px 6px 4px 6px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6.94%;
  left: 86.6%;
  width: 6.46%;
  bottom: 24.85%;
  top: 72.16%;
  height: 2.99%;
}
.nyse-tmo {
  color: var(--primary-white, #ffffff);
  text-align: right;
  font: var(--body-medium, 500 14px/22px "HelveticaNeue-Medium", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.group-156 {
  width: 1238px;
  height: 170px;
  position: static;
}
._588-84 {
  color: var(--nuetral-text, #222222);
  text-align: left;
  position: absolute;
  right: 75.42%;
  left: 7.08%;
  width: 17.5%;
  bottom: 11.58%;
  top: 80.04%;
  height: 8.38%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._588-84-span {
  color: var(--nuetral-text, #222222);
  font: var(--h-1-medium, 500 38px/46px "HelveticaNeue-Medium", sans-serif);
}
._588-84-span2 {
  color: var(--nuetral-text, #222222);
  font: 400 60px "HelveticaNeueLtW1G-65Medium", sans-serif;
}
._588-84-span3 {
  color: var(--nuetral-text, #222222);
  font: 400 70px "HelveticaNeueLtW1G-65Medium", sans-serif;
}
.group-62 {
  width: 544px;
  height: 125px;
  position: absolute;
  right: 6.94%;
  left: 55.28%;
  width: 37.78%;
  bottom: 2.99%;
  top: 84.53%;
  height: 12.48%;
  overflow: visible;
}
._2-29-0-39 {
  text-align: left;
  font: var(--h-2-medium, 500 30px/40px "HelveticaNeue-Medium", sans-serif);
  position: absolute;
  right: 61.25%;
  left: 25.97%;
  width: 12.78%;
  bottom: 13.37%;
  top: 82.63%;
  height: 3.99%;
}
._2-29-0-39-span {
  color: var(--primary-primary, #e71316);
  font: var(--h-2-medium, 500 30px/40px "HelveticaNeue-Medium", sans-serif);
}
._2-29-0-39-span2 {
  color: var(--accent-teal, #00677f);
  font: var(--h-2-medium, 500 30px/40px "HelveticaNeue-Medium", sans-serif);
}
.sustinability {
  width: 1440px;
  height: 530px;
  position: absolute;
  left: 0px;
  top: 1289px;
}
.sustainability {
  color: var(--accent-teal, #00677f);
  text-align: left;
  font: 400 18px/22px "HelveticaNeueLtW1G-75Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 81.25%;
  left: 6.94%;
  width: 11.81%;
  bottom: 95.85%;
  top: 0%;
  height: 4.15%;
}
.group-159 {
  position: absolute;
  inset: 0;
}
.group-158 {
  width: 646px;
  height: 375px;
  position: static;
}
.group-1262 {
  width: 646px;
  height: 309px;
  position: static;
}
.group-123 {
  width: 646px;
  height: 113px;
  position: static;
}
.rectangle-19848 {
  background: var(--accent-green, #b5bd00);
  position: absolute;
  right: 44.44%;
  left: 55.14%;
  width: 0.42%;
  bottom: 29.25%;
  top: 50.75%;
  height: 20%;
}
.rectangle-19849 {
  background: var(--accent-sky, #9bd3dd);
  position: absolute;
  right: 44.44%;
  left: 55.14%;
  width: 0.42%;
  bottom: 29.25%;
  top: 50.75%;
  height: 20%;
}
.rectangle-19850 {
  background: var(--accent-sky, #9bd3dd);
  position: absolute;
  right: 0%;
  left: 87.08%;
  width: 12.92%;
  bottom: 29.25%;
  top: 50.75%;
  height: 20%;
}
._25-million-impact-investment-to-support-black-businesses-and-communities {
  color: var(--nuetral-text, #222222);
  text-align: left;
  position: absolute;
  right: 9.24%;
  left: 58.06%;
  width: 32.71%;
  bottom: 28.49%;
  top: 50.19%;
  height: 21.32%;
}
._25-million-impact-investment-to-support-black-businesses-and-communities-span {
  color: var(--nuetral-text, #222222);
  font: var(--h-2-medium, 500 30px/40px "HelveticaNeue-Medium", sans-serif);
}
._25-million-impact-investment-to-support-black-businesses-and-communities-span2 {
  color: var(--nuetral-text, #222222);
  font: var(--h-3-regular, 400 24px/36px "HelveticaNeue-Regular", sans-serif);
}
.group-127 {
  border-radius: 4px;
  position: absolute;
  right: 37.29%;
  left: 55.14%;
  width: 7.57%;
  bottom: 16.04%;
  top: 76.04%;
  height: 7.92%;
}
.national-cancer-institute-v-rb-pz-2-q-wka-a-unsplash-1 {
  position: absolute;
  right: 51.81%;
  left: 6.94%;
  width: 41.25%;
  bottom: 12.08%;
  top: 13.21%;
  height: 74.72%;
}
.group-292 {
  width: 54px;
  height: 6px;
  position: static;
}
.rectangle-198154 {
  background: var(--primary-primary, #e71316);
  position: absolute;
  right: 91.81%;
  left: 6.94%;
  width: 1.25%;
  bottom: 1.89%;
  top: 96.98%;
  height: 1.13%;
}
.rectangle-198162 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  position: absolute;
  right: 90.97%;
  left: 8.61%;
  width: 0.42%;
  bottom: 1.89%;
  top: 96.98%;
  height: 1.13%;
}
.rectangle-198172 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  position: absolute;
  right: 90.14%;
  left: 9.44%;
  width: 0.42%;
  bottom: 1.89%;
  top: 96.98%;
  height: 1.13%;
}
.rectangle-198182 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  position: absolute;
  right: 89.31%;
  left: 10.28%;
  width: 0.42%;
  bottom: 1.89%;
  top: 96.98%;
  height: 1.13%;
}
.customer-stories {
  width: 1440px;
  height: 529px;
  position: absolute;
  left: 0px;
  top: 2864px;
}
.sustainability2 {
  color: var(--accent-teal, #00677f);
  text-align: left;
  font: 400 18px/22px "HelveticaNeueLtW1G-75Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 78.26%;
  left: 6.94%;
  width: 14.79%;
  bottom: 95.84%;
  top: 0%;
  height: 4.16%;
}
.group-1582 {
  width: 546px;
  height: 372px;
  position: static;
}
.group-1263 {
  width: 546px;
  height: 306px;
  position: static;
}
.for-elizabeth-having-a-baby-was-always-the-next-chapter-of-her-life-plan-after-a-year-and-half-of-trying-to-conceive-naturally {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-3-regular, 400 24px/36px "HelveticaNeue-Regular", sans-serif);
  position: absolute;
  right: 6.94%;
  left: 55.14%;
  width: 37.92%;
  bottom: 28.92%;
  top: 50.66%;
  height: 20.42%;
}
.group-1272 {
  border-radius: 4px;
  position: absolute;
  right: 37.43%;
  left: 55.14%;
  width: 7.43%;
  bottom: 16.45%;
  top: 75.61%;
  height: 7.94%;
}
.getty-images-596568073-1 {
  position: absolute;
  right: 51.81%;
  left: 6.94%;
  width: 41.25%;
  bottom: 11.91%;
  top: 13.23%;
  height: 74.86%;
}
.group-272 {
  position: absolute;
  inset: 0;
}
.rectangle-198155 {
  background: var(--primary-primary, #e71316);
  position: absolute;
  right: 91.39%;
  left: 6.94%;
  width: 1.67%;
  bottom: 1.7%;
  top: 97.16%;
  height: 1.13%;
}
.rectangle-198163 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  position: absolute;
  right: 90.69%;
  left: 8.89%;
  width: 0.42%;
  bottom: 1.7%;
  top: 97.16%;
  height: 1.13%;
}
.rectangle-198173 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  position: absolute;
  right: 89.86%;
  left: 9.72%;
  width: 0.42%;
  bottom: 1.7%;
  top: 97.16%;
  height: 1.13%;
}
.rectangle-198183 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  position: absolute;
  right: 89.03%;
  left: 10.56%;
  width: 0.42%;
  bottom: 1.7%;
  top: 97.16%;
  height: 1.13%;
}
.diversity-inclusion {
  width: 1440px;
  height: 466px;
  position: absolute;
  left: 0px;
  top: 4555px;
}
.career {
  color: var(--accent-teal, #00677f);
  text-align: left;
  font: 400 18px/22px "HelveticaNeueLtW1G-75Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 87.22%;
  left: 6.94%;
  width: 5.83%;
  bottom: 95.28%;
  top: 0%;
  height: 4.72%;
}
.group-1583 {
  width: 546px;
  height: 286px;
  position: static;
}
.group-1264 {
  width: 546px;
  height: 220px;
  position: static;
}
.group-1273 {
  border-radius: 4px;
  position: absolute;
  right: 80.83%;
  left: 6.94%;
  width: 12.22%;
  bottom: 23.61%;
  top: 67.38%;
  height: 9.01%;
}
.adobe-stock-216739539-1 {
  position: absolute;
  right: 6.94%;
  left: 51.81%;
  width: 41.25%;
  bottom: 0%;
  top: 15.02%;
  height: 84.98%;
}
.news-room {
  width: 1440px;
  height: 696px;
  position: absolute;
  left: 0px;
  top: 5101px;
}
.group-164 {
  position: absolute;
  inset: 0;
}
.news-room2 {
  color: var(--accent-teal, #00677f);
  text-align: left;
  font: 400 18px/22px "HelveticaNeueLtW1G-75Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 83.96%;
  left: 6.94%;
  width: 9.1%;
  bottom: 96.84%;
  top: 0%;
  height: 3.16%;
}
.frame-134 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 55.35%;
  left: 6.94%;
  width: 37.71%;
  bottom: 10.63%;
  top: 10.06%;
  height: 79.31%;
}
.frame-1342 {
  background: var(--primary-secondary, #4a4a4a);
  border-radius: 2px;
  padding: 0px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.latest-news {
  color: var(--primary-white, #ffffff);
  text-align: left;
  font: var(--h-4-medium, 500 20px/28px "HelveticaNeue-Medium", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.thermo-fisher-scientific-announces-oncomine-clinical-research-grant-awardees-and-opens-spring-2023-submissions {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-2-medium, 500 30px/40px "HelveticaNeue-Medium", sans-serif);
  position: relative;
  width: 543px;
}
.april-17th-2023 {
  color: var(--nuetral-64, #797a7d);
  text-align: left;
  font: var(--h-4-regular, 400 20px/30px "HelveticaNeue-Regular", sans-serif);
  position: relative;
}
.mask-group {
  flex-shrink: 0;
  width: 543px;
  height: 282px;
  position: static;
}
.rectangle-19835 {
  background: #d9d9d9;
  width: 543px;
  height: 282px;
  position: absolute;
  left: 0px;
  top: 270px;
}
.image-3 {
  width: 563.85px;
  height: 400.74px;
  position: absolute;
  left: -11.29px;
  top: 219.91px;
}
.image-2 {
  width: 572.54px;
  height: 611.31px;
  position: absolute;
  left: -16.51px;
  top: -2.72px;
}
.frame-135 {
  opacity: 0.20000000298023224;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 6.94%;
  left: 55.35%;
  width: 37.71%;
  bottom: 10.63%;
  top: 10.06%;
  height: 79.31%;
}
.podcast {
  color: var(--primary-white, #ffffff);
  text-align: left;
  font: var(--h-4-medium, 500 20px/28px "HelveticaNeue-Medium", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.delivering-on-the-promise-of-cell-therapies-programmed-immune-cells-attack-cancer-and-other-diseases-episode-1 {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-2-medium, 500 30px/40px "HelveticaNeue-Medium", sans-serif);
  position: relative;
  width: 543px;
}
.march-23rd-2023-23-28-s-2-e-11 {
  color: var(--nuetral-64, #797a7d);
  text-align: left;
  font: var(--h-4-regular, 400 20px/30px "HelveticaNeue-Regular", sans-serif);
  position: relative;
}
.group-136 {
  width: 580px;
  height: 304px;
  position: static;
}
.mask-group2 {
  width: 580px;
  height: 304px;
  position: static;
}
.rectangle-198352 {
  background: #d9d9d9;
  width: 580px;
  height: 304px;
  position: absolute;
  left: -19px;
  top: 259px;
}
.image-32 {
  width: 602.27px;
  height: 432px;
  position: absolute;
  left: -31.06px;
  top: 205px;
}
.image-4 {
  width: 117px;
  height: 117px;
  position: absolute;
  left: 394px;
  top: 301px;
}
.component-10 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 32px;
  top: 460px;
  overflow: visible;
}
.group-134 {
  width: 543px;
  height: 42px;
  position: static;
}
.group-124 {
  border-radius: 4px;
  position: absolute;
  right: 84.17%;
  left: 6.94%;
  width: 8.89%;
  bottom: 0%;
  top: 93.97%;
  height: 6.03%;
}
.frame-1343 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 55.35%;
  left: 37.85%;
  width: 6.81%;
  bottom: 5.17%;
  top: 93.97%;
  height: 0.86%;
}
.rectangle-198156 {
  background: var(--primary-primary, #e71316);
  flex-shrink: 0;
  width: 18px;
  height: 6px;
  position: relative;
}
.rectangle-198164 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.rectangle-198174 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.rectangle-198184 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.rectangle-19819 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.rectangle-19820 {
  background: var(--nuetral-64, #797a7d);
  opacity: 0.30000001192092896;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.group-135 {
  opacity: 0.20000000298023224;
  width: 543px;
  height: 42px;
  position: static;
}
.group-1242 {
  border-radius: 4px;
  position: absolute;
  right: 33.82%;
  left: 55.35%;
  width: 10.83%;
  bottom: 0%;
  top: 93.97%;
  height: 6.03%;
}
.frame-1344 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 6.94%;
  left: 86.25%;
  width: 6.81%;
  bottom: 5.17%;
  top: 93.97%;
  height: 0.86%;
}
.events-presentations {
  width: 1240px;
  height: 186px;
  position: absolute;
  left: 100px;
  top: 5877px;
}
.events-presentations2 {
  color: var(--accent-teal, #00677f);
  text-align: left;
  font: 400 18px/22px "HelveticaNeueLtW1G-75Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 77.42%;
  left: 0%;
  width: 22.58%;
  bottom: 88.17%;
  top: 0%;
  height: 11.83%;
}
.group-139 {
  position: absolute;
  inset: 0;
}
.rectangle-19904 {
  background: var(--accent-sky, #9bd3dd);
  opacity: 0.5;
  position: absolute;
  right: 0%;
  left: 0.16%;
  width: 99.84%;
  bottom: 0%;
  top: 24.73%;
  height: 75.27%;
}
.group-138 {
  width: 602px;
  height: 76px;
  position: static;
}
.thermo-fisher-scientific-2023-investor-day {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-2-medium, 500 30px/40px "HelveticaNeue-Medium", sans-serif);
  position: absolute;
  right: 48.71%;
  left: 2.74%;
  width: 48.55%;
  bottom: 17.2%;
  top: 61.29%;
  height: 21.51%;
}
.group-137 {
  width: 137px;
  height: 32px;
  position: static;
}
.event-svgrepo-com-1 {
  position: absolute;
  right: 86.21%;
  left: 11.21%;
  width: 2.58%;
  bottom: 40.86%;
  top: 41.94%;
  height: 17.2%;
  overflow: hidden;
}
.layer-1 {
  height: auto;
  position: absolute;
  right: 13.33%;
  left: 13.33%;
  width: 73.33%;
  bottom: 10%;
  top: 13.33%;
  height: 76.67%;
  overflow: visible;
}
.may-20-2023 {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: var(--h-5-medium, 500 16px/24px "HelveticaNeue-Medium", sans-serif);
  position: absolute;
  right: 89.27%;
  left: 2.74%;
  width: 7.98%;
  bottom: 41.94%;
  top: 45.16%;
  height: 12.9%;
}
.group-1243 {
  border-radius: 4px;
  position: absolute;
  right: 2.58%;
  left: 87.1%;
  width: 10.32%;
  bottom: 17.2%;
  top: 60.22%;
  height: 22.58%;
}
.frame-145 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 100px;
  top: 6143px;
}
._1 {
  flex-shrink: 0;
  width: 392px;
  height: 317px;
  position: static;
}
.rectangle-19853 {
  background: var(--nuetral-8, #ebebec);
  border-radius: 2px;
  opacity: 0.5;
  width: 392px;
  height: 317px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.our-president-ceo-marc-casper-talks-with-jim-cramer-of-mad-money-about-the-future-of-gene-therapy-upon-the-recent-acquisition-of-brammer-bio-and-the-importance-of-precisions-medicine-to-thermo-fisher-scientific-s-growth-strategy {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: 400 italic 16px/24px "HelveticaNeue-Italic", sans-serif;
  position: absolute;
  right: 70.4%;
  left: 1.94%;
  width: 27.66%;
  bottom: 28.08%;
  top: 26.5%;
  height: 45.43%;
}
.thermo-fisher-scientific-fri-03-feb-2023 {
  color: var(--nuetral-dark-gray, #54585a);
  text-align: left;
  font: 400 14px "HelveticaNeueLtW1G-55Roman", sans-serif;
  position: absolute;
  right: 76.85%;
  left: 1.94%;
  width: 21.21%;
  bottom: 7.57%;
  top: 87.07%;
  height: 5.36%;
}
.group-145 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 24px;
  top: 24px;
  overflow: visible;
}
._2 {
  flex-shrink: 0;
  width: 392px;
  height: 317px;
  position: static;
}
.rectangle-198532 {
  background: var(--nuetral-8, #ebebec);
  border-radius: 2px;
  opacity: 0.5;
  width: 392px;
  height: 317px;
  position: absolute;
  left: 424px;
  top: 0px;
}
.group-146 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 448px;
  top: 24px;
  overflow: visible;
}
.thermofisher-as-we-get-ready-to-celebrate-earth-day-this-saturday-april-22nd-we-will-share-throughout-the-week-the-many-ways-our-colleagues-around-the-globe-are-working-to-reduce-our-impact-on-the-environment-and-help-secure-a-more-socially-responsible-sustainable-future {
  text-align: left;
  font: 400 italic 16px/24px "HelveticaNeue-Italic", sans-serif;
  position: absolute;
  right: 36.21%;
  left: 36.13%;
  width: 27.66%;
  bottom: 20.5%;
  top: 26.5%;
  height: 53%;
}
.thermofisher-as-we-get-ready-to-celebrate-earth-day-this-saturday-april-22nd-we-will-share-throughout-the-week-the-many-ways-our-colleagues-around-the-globe-are-working-to-reduce-our-impact-on-the-environment-and-help-secure-a-more-socially-responsible-sustainable-future-span {
  color: var(--primary-primary, #e71316);
  font: 400 italic 16px/24px "HelveticaNeue-Italic", sans-serif;
}
.thermofisher-as-we-get-ready-to-celebrate-earth-day-this-saturday-april-22nd-we-will-share-throughout-the-week-the-many-ways-our-colleagues-around-the-globe-are-working-to-reduce-our-impact-on-the-environment-and-help-secure-a-more-socially-responsible-sustainable-future-span2 {
  color: var(--nuetral-text, #222222);
  font: 400 italic 16px/24px "HelveticaNeue-Italic", sans-serif;
}
.thermo-fisher-scientific-fri-17-apr-2023 {
  color: var(--nuetral-dark-gray, #54585a);
  text-align: left;
  font: 400 14px "HelveticaNeueLtW1G-55Roman", sans-serif;
  position: absolute;
  right: 42.74%;
  left: 36.13%;
  width: 21.13%;
  bottom: 7.57%;
  top: 87.07%;
  height: 5.36%;
}
.group-1452 {
  width: 188.3px;
  height: 151.3px;
  position: absolute;
  left: 448px;
  top: 24px;
  overflow: visible;
}
._3 {
  flex-shrink: 0;
  width: 392px;
  height: 317px;
  position: static;
}
.rectangle-198533 {
  background: var(--nuetral-8, #ebebec);
  border-radius: 2px;
  opacity: 0.5;
  width: 392px;
  height: 317px;
  position: absolute;
  left: 848px;
  top: 0px;
}
.our-president-ceo-marc-casper-talks-with-jim-cramer-of-mad-money-about-the-future-of-gene-therapy-upon-the-recent-acquisition-of-brammer-bio-and-the-importance-of-precisions-medicine-to-thermo-fisher-scientific-s-growth-strategy2 {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: 400 italic 16px/24px "HelveticaNeue-Italic", sans-serif;
  position: absolute;
  right: 2.02%;
  left: 70.32%;
  width: 27.66%;
  bottom: 28.08%;
  top: 26.5%;
  height: 45.43%;
}
.thermo-fisher-scientific-fri-03-feb-20232 {
  color: var(--nuetral-dark-gray, #54585a);
  text-align: left;
  font: 400 14px "HelveticaNeueLtW1G-55Roman", sans-serif;
  position: absolute;
  right: 8.47%;
  left: 70.32%;
  width: 21.21%;
  bottom: 7.57%;
  top: 87.07%;
  height: 5.36%;
}
.group-1453 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 872px;
  top: 24px;
  overflow: visible;
}
.footer {
  width: 1440px;
  height: 401px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.rectangle-198165 {
  background: var(--nuetral-text, #222222);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.company-sustainability-investors-newsroom-careers-about-contact-us {
  text-align: left;
  font: 400 16px/32px "-", sans-serif;
  position: absolute;
  right: 83.47%;
  left: 9.86%;
  width: 6.67%;
  bottom: 34.16%;
  top: 9.98%;
  height: 55.86%;
}
.company-sustainability-investors-newsroom-careers-about-contact-us-span {
  color: var(--nuetral-8, #ebebec);
  font: 400 16px/32px "HelveticaNeueLtW1G-75Bold", sans-serif;
}
.company-sustainability-investors-newsroom-careers-about-contact-us-span2 {
  color: var(--nuetral-64, #797a7d);
  font: 400 16px/32px "HelveticaNeueLtW1G-55Roman", sans-serif;
}
.brands-thermo-scientific-applied-biosystems-invitrogen-fisher-scientific-unity-labs-services-patheon-ppd {
  text-align: left;
  font: 400 16px/32px "-", sans-serif;
  position: absolute;
  right: 60.97%;
  left: 29.1%;
  width: 9.93%;
  bottom: 26.18%;
  top: 9.98%;
  height: 63.84%;
}
.brands-thermo-scientific-applied-biosystems-invitrogen-fisher-scientific-unity-labs-services-patheon-ppd-span {
  color: var(--nuetral-8, #ebebec);
  font: 400 16px/32px "HelveticaNeueLtW1G-75Bold", sans-serif;
}
.brands-thermo-scientific-applied-biosystems-invitrogen-fisher-scientific-unity-labs-services-patheon-ppd-span2 {
  color: var(--nuetral-64, #797a7d);
  font: 400 16px/32px "HelveticaNeueLtW1G-55Roman", sans-serif;
}
.thermo-fisher-scientific {
  color: var(--nuetral-8, #ebebec);
  text-align: left;
  font: 400 16px/24px "HelveticaNeueLtW1G-75Bold", sans-serif;
  position: absolute;
  right: 9.72%;
  left: 50.69%;
  width: 39.58%;
  bottom: 84.04%;
  top: 9.98%;
  height: 5.99%;
}
.thermo-fisher-scientific-inc-nyse-tmo-is-the-world-leader-in-serving-science-with-annual-revenue-of-over-40-billion-our-mission-is-to-enable-our-customers-to-make-the-world-healthier-cleaner-and-safer-for-more-information-please-visit-www-thermofisher-com {
  color: var(--nuetral-64, #97999c);
  text-align: left;
  font: 400 16px/24px "-", sans-serif;
  position: absolute;
  right: 9.72%;
  left: 50.69%;
  width: 39.58%;
  bottom: 51.62%;
  top: 18.45%;
  height: 29.93%;
}
.thermo-fisher-scientific-inc-nyse-tmo-is-the-world-leader-in-serving-science-with-annual-revenue-of-over-40-billion-our-mission-is-to-enable-our-customers-to-make-the-world-healthier-cleaner-and-safer-for-more-information-please-visit-www-thermofisher-com-span {
  color: var(--nuetral-64, #797a7d);
  font: 400 16px/24px "HelveticaNeueLtW1G-55Roman", sans-serif;
}
.thermo-fisher-scientific-inc-nyse-tmo-is-the-world-leader-in-serving-science-with-annual-revenue-of-over-40-billion-our-mission-is-to-enable-our-customers-to-make-the-world-healthier-cleaner-and-safer-for-more-information-please-visit-www-thermofisher-com-span2 {
  color: var(--nuetral-64, #797a7d);
  font: 400 16px/24px "HelveticaNeueLtW1G-75Bold", sans-serif;
}
.connect {
  color: var(--nuetral-8, #ebebec);
  text-align: left;
  font: 400 16px/24px "HelveticaNeueLtW1G-75Bold", sans-serif;
  position: absolute;
  right: 9.72%;
  left: 50.69%;
  width: 39.58%;
  bottom: 39.15%;
  top: 54.86%;
  height: 5.99%;
}
.rectangle-198175 {
  background: var(--primary-secondary, #4a4a4a);
  border-radius: 0px 8px 8px 8px;
  opacity: 0.4000000059604645;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 15.96%;
  top: 83.79%;
  height: 0.25%;
}
.logo {
  position: absolute;
  right: 81.39%;
  left: 9.72%;
  width: 8.89%;
  bottom: 4.49%;
  top: 88.53%;
  height: 6.98%;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 0.36%;
  left: 0.42%;
  width: 99.22%;
  bottom: 0.83%;
  top: 2.02%;
  height: 97.14%;
  overflow: visible;
}
.copyright-2006-2023-thermo-fisher-scientific-inc-all-rights-reserved {
  color: var(--nuetral-64, #797a7d);
  text-align: left;
  font: 400 14px/22px "HelveticaNeueLtW1G-55Roman", sans-serif;
  position: absolute;
  right: 9.72%;
  left: 59.03%;
  width: 31.25%;
  bottom: 5.24%;
  top: 89.28%;
  height: 5.49%;
}
.terms-conditions {
  color: var(--nuetral-64, #797a7d);
  text-align: left;
  font: 400 14px/22px "HelveticaNeueLtW1G-55Roman", sans-serif;
  position: absolute;
  right: 70.56%;
  left: 20.9%;
  width: 8.54%;
  bottom: 5.24%;
  top: 89.28%;
  height: 5.49%;
}
.privacy-information-center {
  color: var(--nuetral-64, #797a7d);
  text-align: left;
  font: 400 14px/22px "HelveticaNeueLtW1G-55Roman", sans-serif;
  position: absolute;
  right: 56.39%;
  left: 32.01%;
  width: 11.6%;
  bottom: 5.24%;
  top: 89.28%;
  height: 5.49%;
}
.frame-54 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 34.31%;
  left: 50.69%;
  width: 15%;
  bottom: 28.93%;
  top: 65.09%;
  height: 5.99%;
}
.linkedin-161-svgrepo-com {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.page-1 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.twitter-154-svgrepo-com {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.page-12 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 2.4px;
  overflow: visible;
}
.youtube-168-svgrepo-com {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.page-13 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 3.6px;
  overflow: visible;
}
.facebook-176-svgrepo-com {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.page-14 {
  height: auto;
  position: absolute;
  left: 6px;
  top: 0px;
  overflow: visible;
}
.instagram-167-svgrepo-com {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.page-15 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.mouse {
  opacity: 0.30000001192092896;
  width: 30px;
  height: 46px;
  position: absolute;
  left: 705px;
  top: 727px;
}
.rectangle-198142 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--primary-white, #ffffff);
  border-width: 2px;
  position: absolute;
  right: 6.67%;
  left: 6.67%;
  width: 86.67%;
  bottom: 0%;
  top: 8.7%;
  height: 91.3%;
}
.group-224 {
  height: auto;
  position: absolute;
  right: 30%;
  left: 30%;
  width: 40%;
  bottom: 29.35%;
  top: 70.65%;
  height: 0%;
  overflow: visible;
}
.pexels-artem-podrez-5752729-2160-p-1 {
  width: 1440px;
  height: 726px;
  position: absolute;
  right: 0px;
  top: 0px;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--primary-primary, #f80004);
        mix-blend-mode: soft-light;
}

.pexels-artem-podrez-5752729-2160-p-3 {
  background: var(--primary-primary, #6d4c4c);
  width: 1440px;
  height: 726px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.careers {
  background: var(--primary-white, #ffffff);
  width: 1440px;
  height: 886px;
  position: absolute;
  left: 0px;
  top: 1898px;
  overflow: hidden;
}
.group-160 {
  position: absolute;
  inset: 0;
}
.ellipse-10-stroke {
  width: 796px;
  height: 796px;
  position: absolute;
  left: 881px;
  top: 56px;
  overflow: visible;
}
.ellipse-10-stroke2 {
  width: 884px;
  height: 884px;
  position: absolute;
  left: -147px;
  top: -49px;
  overflow: visible;
}
.frame-132 {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 100px;
  top: 248px;
}
.frame-1322 {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-129 {
  flex-shrink: 0;
  width: 496px;
  height: 263px;
  position: static;
}
.group-128 {
  width: 280px;
  height: 40px;
  position: static;
}
.diversity-inclusion2 {
  color: var(--accent-orange, #ea7600);
  text-align: left;
  font: var(--h-2-medium, 500 30px/40px "HelveticaNeue-Medium", sans-serif);
  position: absolute;
  right: 43.55%;
  left: 0%;
  width: 56.45%;
  bottom: 87.84%;
  top: 0%;
  height: 12.16%;
}
.our-commitment-to-fostering-a-culture-that-values-diversity-and-inclusion-d-i-considers-gender-and-ethnicity-diversity-as-well-as-diversity-of-backgrounds-experiences-and-viewpoints {
  color: var(--nuetral-dark-gray, #54585a);
  text-align: left;
  font: var(--h-3-regular, 400 24px/36px "HelveticaNeue-Regular", sans-serif);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 20.06%;
  top: 25.23%;
  height: 54.71%;
}
.group-1244 {
  padding: 10px 8px 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.read-more2 {
  color: var(--primary-primary, #e71316);
  text-align: left;
  font: 500 16px "HelveticaNeue-Medium", sans-serif;
  position: relative;
}
.vector7 {
  margin: 0 0 0 -1px;
  opacity: 0;
  flex-shrink: 0;
  width: 13.6px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.group-162 {
  flex-shrink: 0;
  width: 152px;
  height: 42px;
  position: static;
}
.group-107 {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 110px;
  top: 409px;
  overflow: visible;
}
.group-161 {
  width: 94px;
  height: 42px;
  position: static;
}
.vector-162 {
  width: 8px;
  height: 18px;
  position: absolute;
  left: 25px;
  top: 421px;
  transform: translate(-9.34px, -0.66px);
  overflow: visible;
}
.ellipse-152 {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--nuetral-32, #b8babc);
  border-width: 2px;
  width: 42px;
  height: 42px;
  position: absolute;
  left: 42px;
  top: 409px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
._1-of-4 {
  text-align: left;
  font: var(--body-regular, 400 14px/22px "HelveticaNeue-Regular", sans-serif);
  position: absolute;
  left: 58px;
  bottom: 2.22%;
  top: 92.9%;
  height: 4.88%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1-of-4-span {
  color: var(--primary-secondary, #4a4a4a);
  font: var(--body-regular, 400 14px/22px "HelveticaNeue-Regular", sans-serif);
}
._1-of-4-span2 {
  color: rgba(74, 74, 74, 0.46);
  font: var(--body-regular, 400 14px/22px "HelveticaNeue-Regular", sans-serif);
}
.ellipse-16 {
  background: var(--nuetral-32, #b8babc);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 24px;
  top: 739px;
}
.culture {
  color: var(--accent-teal, #00677f);
  text-align: left;
  font: 400 18px/22px "HelveticaNeueLtW1G-75Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 86.46%;
  left: 6.94%;
  width: 6.6%;
  bottom: 93.79%;
  top: 3.72%;
  height: 2.48%;
}
.our-work-is-a-story-of-purpose {
  color: var(--nuetral-text, #222222);
  text-align: left;
  font: 400 48px "-", sans-serif;
  position: absolute;
  right: 6.94%;
  left: 6.94%;
  width: 86.11%;
  bottom: 77.09%;
  top: 9.82%;
  height: 13.09%;
}
.our-work-is-a-story-of-purpose-span {
  color: var(--nuetral-text, #222222);
  font: 400 48px "HelveticaNeueLtW1G-45Light", sans-serif;
}
.our-work-is-a-story-of-purpose-span2 {
  color: var(--nuetral-text, #222222);
  font: 400 48px "HelveticaNeueLtW1G-75Bold", sans-serif;
}
.ellipse-14 {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 1010px;
  top: 734px;
}
.group-169 {
  position: absolute;
  inset: 0;
}
.ellipse-157 {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  position: absolute;
  left: 1157px;
  top: 806px;
}
.pexels-edward-jenner-4031323-1 {
  border-radius: 1365.5px;
  width: 620px;
  height: 620px;
  position: absolute;
  left: 660px;
  top: 100px;
}
.ellipse-1572 {
  border-radius: 50%;
  width: 31px;
  height: 31px;
  position: absolute;
  left: 1262px;
  top: 835px;
}
.search-icon {
  height: auto;
  position: absolute;
  right: 19.03%;
  left: 79.58%;
  width: 1.39%;
  bottom: 99.29%;
  top: 0.42%;
  height: 0.29%;
  overflow: visible;
}
.logo2 {
  width: 137.14px;
  height: 30px;
  position: absolute;
  left: 80px;
  top: 42px;
  overflow: hidden;
}
.group2 {
  height: auto;
  position: absolute;
  right: 0.36%;
  left: 0.42%;
  width: 99.22%;
  bottom: 0.83%;
  top: 2.02%;
  height: 97.14%;
  overflow: visible;
}
.vector12 {
  height: auto;
  position: absolute;
  right: 39.72%;
  left: 2.78%;
  width: 57.5%;
  bottom: 87.8%;
  top: 7.18%;
  height: 5.02%;
  overflow: visible;
}
.b-1 {
  padding: 10px 8px 10px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 168px;
  top: 762px;
}
.read-more3 {
  color: var(--primary-white, #ffffff);
  text-align: left;
  font: 500 16px "HelveticaNeue-Medium", sans-serif;
  position: relative;
}
.vector13 {
  margin: 0 0 0 -1px;
  flex-shrink: 0;
  width: 13.6px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.vector14 {
  height: auto;
  position: absolute;
  right: -10.35%;
  left: 82.71%;
  width: 27.64%;
  bottom: 98.84%;
  top: -0.58%;
  height: 1.74%;
  overflow: visible;
}
.vector15 {
  height: auto;
  position: absolute;
  right: -6.8%;
  left: 69.93%;
  width: 36.87%;
  bottom: 89.48%;
  top: 8.83%;
  height: 1.69%;
  overflow: visible;
}
.vector16 {
  width: 160px;
  height: 230px;
  position: relative;
  overflow: visible;
  bottom: 89.49%;
  top: 7.18%;
 
  /* overflow: visible; */
}
.to-enable-our-customers-to-make-the-world-healthier-cleaner-and-safer {
  color: var(--primary-white, #ffffff);
  text-align: left;
  font: 400 46px "-", sans-serif;
  position: absolute;
  left: 173px;
  top: 552px;
}
.to-enable-our-customers-to-make-the-world-healthier-cleaner-and-safer-span {
  color: var(--primary-white, #ffffff);
  font: 700 46px "HelveticaNeue-Bold", sans-serif;
}
.to-enable-our-customers-to-make-the-world-healthier-cleaner-and-safer-span2 {
  color: var(--primary-white, #ffffff);
  font: 300 46px "HelveticaNeue-Light", sans-serif;
}
.group-171 {
  height: auto;
  position: absolute;
  right: 95.56%;
  left: 2.78%;
  width: 1.67%;
  bottom: 99%;
  top: 0.65%;
  height: 0.35%;
  overflow: visible;
}
.b-12 {
  padding: 10px 8px 10px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1194.91px;
  top: 646px;
}
.vector17 {
  margin: 0 0 0 -1px;
  flex-shrink: 0;
  width: 13.6px;
  height: 12px;
  position: relative;
  overflow: visible;
}
